<div>
    <div *ngFor="let kweet of kweets">
        <div class="kweet">
            <div>{{kweet.user.username}}</div>
            <div>{{kweet.text}}</div>
            <div>{{kweet.date | utcDate | date:'HH:mm - dd MMMM yyyy'}}</div>
        </div>
    </div>
    kweet-list works!
    <div class="form-group">
        <input type="text" [(ngModel)]="kweetText"
               class="form-control">
    </div>
    <div class="form-buttons">
        <button class="button button-primary"
                (click)="createKweet()">send
        </button>
    </div>
</div>

